body{
  background-color: #B8D4D7;
  background-image: linear-gradient(#0231cd6a, #A19DCA);
  height:auto;
}

body > header{
  
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: auto;
  color:#dedde4;
  font-size: 20px ;
  justify-content: space-around;
}
.navbutton{
  color: #d3d1a2;
}
#logo, #logo-parah{
  text-align: left;
  color:#d3d1a2; 
  margin-left: 10%;
  margin-top: 20%;

 
}


header>p{
  margin-left: 20%;
  text-align: left;
  color: #e7d6b8;
}
.search-bar {
  border: none;
  background-color: transparent;
  color: #fcfcfc; 
  border-bottom: 1px solid #f5f5f5; 
  padding: 5px 0; 
}





body>header>nav>ul>li{
  list-style: none;
}

a{
  text-decoration: none;
}

body > header > nav > ul {
  list-style: none;
  justify-content: space-evenly;
}



h1{
  margin:0px;
}

#navHeader{
  display: flex;
  align-items: left;
  list-style: none;
 
}



.dropdown-menu > li {
  font-size: 15px;
  margin-bottom: 5px; 
  
}


ul li ul.dropdown-menu {
  position: absolute;
  width: 200px;
  background-color: #E6BABE;
  display: none;
  z-index:999;
  list-style: none;
  border-radius: 10%;
  
 
  
}

ul li a:hover {
  background-color: transparent;
  border-bottom: 2px solid #090707; 
  
}

ul li:hover ul.dropdown-menu{
  display: block;
}


.tooo1{
 height: 150px;
 margin-left: 30px;
}

.image{
  display: flex;
  height: 300px;

}


.tooo2{
 height: 150px;
 align-self: flex-end;
 margin-left: -280px;
}

.image2 {
  display: flex;
  height: 300px;
  margin-top: -300px;
}

.tooo3{

  height:200px;
  align-self: flex-start;

}

.tooo4{
  height: 200px;
  align-self: flex-start;
}


#logo-parah
{
  margin-top: 10px;
  margin-bottom: 300px;
  margin-left: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(62, 62, 197);
  padding: 50px;
  
}


.Japan{
  margin-top: 150px;
}

h3{
  font-style: bold;
  color: #dcd9ad;
}

h4{
  font-style: italic;
  color:#dedde4;
}

#dis {
  border-style: solid;
  border-color: #b2b2c6;
  margin-top: 20px;
  padding-right: 100px;
}